* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.8vw;
}

.boxcenter {
    /* các thuộc tính chung */
    width: 70%;
    margin: 0 auto;
}

.row {
    float: left;
    width: 100%;
}

.margin-bottom {
    margin-bottom: 20px;
}

.margin-bottom10 {
    margin-bottom: 10px;
}

.margin-top {
    margin-top: 20px;
}

.demo {
    background-color: aliceblue;
    min-height: 100px;
}

.header {
    background-color: aquamarine;
    border: 1px #009900 solid;
    color: blue;
    border-radius: 5px;
}

.header h1 {
    /* margin có 2 giá trị của bốn bên */
    margin: 10px 20px;
    font-size: 1.2vw;
}

.menu {
    border-radius: 5px;
    background-color: black;
    color: #ccc;
}

.margin-right {
    margin-right: 2%;
}

.boxphai {
    float: left;
    width: 24%;
}

.boxtrai {
    float: left;
    width: 60%;
}

.footer {
    background-color: aquamarine;
    border: 1px #009900 solid;
    font-size: 0.8vw;
    color: blue;
    border-radius: 5px;
    padding: 20px;
}

.boxtieuDe {
    color: #333;
    padding: 10px;
    background-color: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px #ccc solid;
}

.boxnoiDung {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
}

.boxnoiDung2 {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    min-height: 200px;
    background-color: #eee;
}

.boxtimKiem {
    padding: 10px;
    background-color: #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px #ccc solid;
}

.showanh {
    min-height: 300px;
    width: 100%;
    text-align: center;
}

.showanh img {
    height: 300px;
}

.boxsanPham {
    float: left;
    width: 32%;
    min-height: 300px;
    border: 1px #eee solid;
    border-radius: 5px;
    margin-bottom: 20px;
}

.boxsanPham .img {
    min-height: 230px;
    text-align: center;
}

.img img {
    height: 220px;
}

.menu ul {
    padding: 0px 15px;
}

.menu ul li {
    list-style-type: none;
    display: inline;
    padding: 0px 15px;
}

.menu ul li a {
    color: #ccc;
    text-decoration: none;
    transition: 0.5s;
}

.menu ul li a:hover {
    color: white;
    font-size: 0.8vw;
}


/*box tài khoản*/

.formtaiKhoan {
    line-height: 150%;
}

.formtaiKhoan input[type="text"],
.formtaiKhoan input[type="password"],
.formcontent input[type="text"] {
    width: 100%;
    border: 1px #ccc solid;
    padding: 5px 1px;
    border-radius: 5px;
}

.formtaiKhoan input[type="checkbox"] {
    border-radius: 5px;
}

.formtaiKhoan input[type="submit"],
.formcontent input[type="submit"],
.formcontent input[type="reset"],
.formcontent input[type="button"] {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    border: 1px #ccc solid;
}

.formtaiKhoan input[type="submit"]:hover,
.formcontent input[type="submit"]:hover,
.formcontent input[type="reset"]:hover,
.formcontent input[type="button"]:hover {
    background-color: #ccc;
}

.formtaiKhoan li a {
    color: teal;
    text-decoration: none;
}

.formtaiKhoan li a:hover {
    color: rgb(2, 53, 53);
    text-decoration: underline;
}

.menu2 ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu2 ul li {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px #ccc solid;
}

.menu2 ul li a {
    text-decoration: none;
    color: #666;
}

.menu2 ul li:hover {
    background-color: #ccc;
}

.search-box input[type="text"] {
    width: 100%;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px #ccc solid;
    border-radius: 5px;
}

.top10 img {
    width: 20%;
    height: 50px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px #333 solid;
}

.top10 a {
    color: #666;
    text-decoration: none;
}

.top10 a:hover {
    color: rgb(61, 48, 48);
    text-decoration: underline;
}


/*Admin*/

.headeradmin {
    background-color: #eee;
    border: 1px #ccc solid;
    color: #666e;
    border-radius: 5px;
    padding: 0px 20px;
}

.headeradmin h1 {
    font-size: 2vw;
}

.formcontent {
    padding: 20px 0px;
}


/*danh sách loại hàng*/

.danhSachLoaiHang table {
    width: 100%;
    border-collapse: collapse;
    border: 1px #999 solid;
}

.danhSachLoaiHang table th {
    padding: 20px 20px;
    background-color: #ccc;
}


/* .danhSachLoaiHang table th:nth-child(2) {
    background-color: #ccc;
    width: 30%;
}

.danhSachLoaiHang table th:nth-child(3) {
    background-color: #ccc;
    width: 40%;
}

.danhSachLoaiHang table th:nth-child(4) {
    background-color: #ccc;
    width: 20%;
} */

.danhSachLoaiHang table td {
    padding: 10px 20px;
    border: 1px rgb(202, 198, 198) solid;
}


/* slidesshow */


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* end slidershow */

.spct {
    text-align: center;
}

.spct img {
    width: 50%;
}

.binhluan table {
    width: 100%;
}

.binhluan table td:nth-child(1) {
    width: 50%;
}

.binhluan table td:nth-child(1) {
    width: 20%;
}

.binhluan table td:nth-child(1) {
    width: 30%;
}